$primary-color: #1d3557;
$error-color: #e63946;
$bg-color: #f1faee;
$text-color: #293241;
$color-white: #fff;
$color-green: #8fffab;

$border-radius: 4px;

.container {
  // margin-top: 5rem;
  padding: 3rem;
  border-radius: $border-radius;

  .success-msg {
    color: $primary-color;
    background: $color-green;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .error-msg {
    color: $primary-color;
    background: #ff6347;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  h1 {
    font-size: 2rem;
    color: $text-color;
    margin-bottom: 2rem;
  }

  label,
  input {
    color: $text-color;
  }

  label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  input {
    border: 2px solid rgba($primary-color, 0.8);
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }
  select {
    color: $text-color;
    border: 2px solid rgba($primary-color, 0.8);
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .search-container {
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 768px) {
    .search-container {
      border: solid 1px red;
      flex-direction: column;
    }
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .search-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    color: $color-white;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 1.2rem;
    background: $primary-color;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    padding: 0.6rem 1.2rem;

    &:hover {
      background: rgba($primary-color, 0.8);
    }
  }

  .input-error {
    border-color: $error-color;
  }

  .error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    background: rgba($primary-color, 0.8);
  }
}
